<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST VUE.js</title>
</head>
<body>
    <main id="app">
        <h1>Corpo : {{ group }}</h1>
        <span v-if="posts.length < 1">KO Fetch</span>
        <span v-else>Fetch OK</span>

        <div class="post" v-for="post of posts">
            <div>
                <h4>{{post.user.userName}}</h4>
            </div>
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
        
            <div >            
        <!--    
                <h4>{{post.comments.user.userName}}</h4>
                <p>{{post.commments.content}}</p>
        -->
            </div>
        </div>
        <br>
        
        <p>{{posts}}</p>
    </main>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const test = {
            data(){
                return{
                    group: 'Groupomania',
                    posts:[],
                }
            },
            created(){
            fetch('http://localhost:3000/posts')
            .then((response) => response.json())
            .then((json) => {this.posts = json})
            }
        }
        const app = Vue.createApp(test).mount('#app')

/*
    <div class="comment_form-input">
        <h4>Username</h4>
        <textarea name="comment_input" id="comment_input" maxlength="400" required placeholder="Comment here..."></textarea>
        <input type="submit" value="Post" class="button_comment">
    </div>

    <div class="comment">
        <h4>Username</h4>
        <p class="comment_txt">les chats noir ce sont des vénards ! il est trop pipou le bébou minou.</p>
        <div>
        <button class="modify">modify</button>
        <button class="delete">delete</button>
        </div>
    </div>

    </div>
*/
    </script>
</body>
</html>